@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"> ** Hoşgeldiniz ** </h1>
    <br /><br />
    <h3>- Bu proje "Mustafa Özvardar" tarafından yapılmıştır.</h3>
    
</div>
